

<!-- <div innerHtml=" {{ParentInputTag}} "> -->
  <!-- {{ParentInputTag}} -->
<!-- </div> -->

<!-- <div class="MyDiv {{bg}} ">
    <label for=""> {{Labelname}} </label><br><br>
    <input [type]="mytype" [placeholder]="myPlaceholder"><br>

    <small> {{hintmsg}} </small>
</div> -->

<!-- <div class="MyDiv {{bg}} ">
      <ng-content></ng-content>
      <small> {{hintmsg}} </small>
</div> -->

<!-- <div class="MyDiv {{bg}} ">
  <div style="font-size: 20px;">
    <ng-content></ng-content>
    
  </div>

  <div>
    <ng-content></ng-content>    
  </div>
  <ng-content></ng-content>   
  <small> {{hintmsg}} </small>
</div> -->

<div class="MyDiv {{bg}} ">
    <ng-content></ng-content> 
  <small> {{hintmsg}} </small>
</div>


